@import "tailwindcss";
* {
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
body {
  background: linear-gradient(to bottom, #2e1e12, #2a1b12);
  color: #d6cec6;
  font-family: gilroy;
}
html {
  scroll-behavior: smooth;
}
.outline-text {
  font-size: clamp(3rem, 8vw, 6rem);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.03em;

  color: transparent;
  -webkit-text-stroke: 1.5px #bebdbd;
}



/* This targets the entire window */
html, body {
  scrollbar-width: none;            /* Firefox */
  -ms-overflow-style: none;         /* IE/Edge */
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;                    /* Chrome, Safari, Opera */
  width: 0 !important;
  height: 0 !important;
}

/* Optional: If the scrollbar is coming from a specific wrapper */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}