@import "tailwindcss";
* {
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
body {
  background: linear-gradient(to bottom, #2e1e12, #1a100a);
  color: #d6cec6;
  font-family: gilroy;
}
html {
  scroll-behavior: smooth;
}
.outline-text {
  font-size: clamp(3rem, 8vw, 6rem);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.03em;

  color: transparent;
  -webkit-text-stroke: 1.5px #bebdbd;
}
