@import 'tailwindcss';
*{
  padding: 0;
  margin: 0;
   user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
body {
  background-color: black;
  color: white;
  font-family: gilroy;
}
html {
  scroll-behavior: smooth;
}




